dashscope==1.25.1
fastapi==0.121.2
langchain==1.2.10
langchain-community==0.4.1
langchain-litellm==0.6.1
langchain-qdrant==1.1.0
langchain-tavily==0.2.17
langgraph-checkpoint-postgres==3.0.4
langgraph==1.0.9
langsmith==0.4.59
python-dotenv==1.2.1
asyncpg==0.31.0
psycopg-binary==3.3.2
uvicorn==0.38.0